/* Single source of truth for fonts/frames lives in /assets/frame-theme.css. */
@import url("/assets/frame-theme.css");

.frame-box,
.frame-circle {
  background-image: var(--frame-rectangle-img);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: inherit;
  font-family: var(--rv-font);
}

.frame-box {
  display: block;
  padding: 24px;
}

.frame-circle {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--frame-circle-img);
}
